//
//  minesweeper.release.xcconfig
//  Minesweeper
//
//  Created by Thomas Durand on 15/10/2015.
//  Copyright © 2015 Thomas Durand. All rights reserved.
//

#include "Keys.xcconfig"
#include "Pods/Target Support Files/Pods-Minesweeper/Pods-Minesweeper.release.xcconfig"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)